* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

header {
  grid-column: 2 / 12;
  grid-row: 1 / 2;

  .title-a {
    text-decoration: none;
    color: rgb(1, 149, 50);
    font-weight: bold;

    .title-content {
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .icon {
      font-size: 3em;
      margin-top: 0.5em;
      margin-bottom: 0.1em;
    }
  }
}

main {
  grid-column: 2 / 12;
  grid-row: 2 / 3;
}
